button {
    border: none;
    background-color: transparent;
}

[class*="-button-text"]{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: white;
    z-index: 2;
}

.dice-tray {
    border: 2px solid black;
    height: 50px;
}

.dice-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    height: 50px;

}

.dice-result {
    display: flex;
    flex-direction: row;
}

.dice-result-combo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: start;
    height: 15px;
}

.dice-d4::before {
    width: 100%;
    height: auto;
}
