.papaForm {
    display: flex;
    flex-direction: column;
}

.basicInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: solid black .025rem; 
    padding: .25rem;
}

.additionalInfo {
    display: inline-flex;
    flex-direction: row;
}

.abilities {
    display: flex;
    justify-content: space-evenly;
}

.saves {
    flex-grow: 1;
}

.skills {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.skillEditor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-grow: 1;
}

.action {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;   
    flex-grow: 1;
}

.skillEditor * {
    margin: 2px;
}

.clicked {
    color: blue;
}

.actionInfo {
    display: flex;
    flex-direction: column;
}