@use "../app/variables";

.char-create-form {
    display: flex;
    flex-direction: column;
}

.core-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: .25rem;
}

.additional-information {
    display: inline-flex;
    flex-direction: row;
}

.column-info-display {
    h3 {
        margin: 0 50%;
        transform: translate(-50%, 0%);
    }
    border: solid black .05rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row-info-display {
    h3 {
        margin: 0 50%;
        transform: translate(-50%, 0%);
    }
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input-combo {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.core-input {
    border: .05rem solid black; 
    border-radius: .25rem;
    box-sizing: border-box;
}

.save {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.save * {
    margin: 3px;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skill-editor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.action {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;   
    border: solid black .025rem; 
}

.skill-editor * {
    margin: 2px;
}

.clicked {
    color: blue;
}

.action-info {
    display: flex;
    flex-direction: column;
}