
.basicInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: solid black .025rem; 
    padding: .25rem;
}

.abilities {
    display: flex;
    justify-content: space-evenly;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skillEditor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.skillEditor * {
    margin: 2px;
}

.clicked {
    color: blue;
}

.action {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;   
}
.actionInfo {
    display: flex;
    flex-direction: column;
}