@use '../../app/variables';

.ability-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    border: variables.$round-thin-border;
    border-radius: .25rem;
    width: 15%;
}

.ability-name {
    justify-self: flex-start;
    font-weight: bold;
}

.ability-input {
    width: 50%;
    box-sizing: border-box;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
}

.ability-mod {
    display: flex;
    justify-content: center;
    background: white;
    border: .05rem solid black;
    border-radius: .25rem;
    width: 2rem;
    font-size: 1rem;
    transform: translateY(50%);
}