
.d20-svg {
    position: absolute;
    width: 80%;
    transform: translate(-50%, -50%);
}
/* non-position styling can be found in diceRollerComponent scss */
.d20-button-text {
    left: 50%;
    top: 5%;
}
.button-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
}